
.hidden {
    opacity: 0;
    transform: translateY(200%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}