
.hidden {
    opacity: 0;
    transform: translateY(25%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    transform: translateY(-5%);
}

/* ------------ */

.hidden2 {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden2 {
        transition: none;
    }
}